<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://github.com/OmarAbuelkassem" class="icon brands style2 fa-github"><span
                        class="label">Github</span></a></li>
            <li><a href="https://www.linkedin.com/in/omar-abuelkassem-a6b4b5238/"
                    class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a>
            </li>
        </ul>
        <p>&copy; Personal Blog</p>
    </div>
</footer>