<!DOCTYPE HTML>
<!--
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<%- include("./partials/head.ejs") %>


    <body class="is-preload">
        <br>

        <h1 style="text-align: center;">404 <br> Page not Found </h1>


        <!-- Wrapper -->
        <div id="wrapper" class="divided">



            <!-- Four -->
            <section
                class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
                <div class="content">
                    <h2>You are not supposed to be here...</h2>
                    <p>Fear not tho, you can alway go back home!</p>
                    <ul class="actions ">
                        <li><a href="/" class="button">Home</a></li>



                    </ul>
                </div>
            </section>


        </div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

    </body>

</html>